#stylesheet

body {
  margin: o;
  border: 0;
}

header {
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

header .logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

header nav {
  display: block;
  padding-right: 30px;
}

header a {
  color: black;
}

 ul li {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
}

main {
  display: flex;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
