#stylesheet

body {
  margin: 0;
  border: 0;
}

header {
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

header .logo {
  color: MediumAquamarine;
  padding-left: 30px;
  display: flex;
}

.logo h1 {
  padding-left: 30px;
}

header nav {
  display: inline-block;
  padding-right: 30px;
}

header a {
  color: black;
}

 ul li {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red;
}


.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}


.large {
  border: 1px solid black;
}

.medium {
  border: 1px solid black;
}

.small {
  border: 1px solid black;
}

}
