#stylesheet

body {
  margin: 0;
  border: 0;
}

header {
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

header .logo {
  color: MediumAquamarine;
  padding-left: 30px;
  display: flex;
}

.logo h1 {
  padding-left: 30px;
}

header nav {
  display: inline-block;
  padding-right: 30px;
}

header a {
  color: black;
}

 ul li {
  display: inline-block;
  text-decoration:none;
  padding: 20px;
  text-shadow: black;
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  border: 1px solid red;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.large {
  border: 1px solid black;
}

.medium {
  border: 1px solid black;
}

.small {
  border: 1px solid black;
}
.article {
  border: 1px solid green;
}

.headline {
  border: 1px solid black;
  }

.main {
  background-image: url("../images/img-story-main.png");
  background-repeat: no-repeat;
  height: 300px;
  width: 630px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.main p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-align: left;
}

.spin {
  background-image: url("../images/img-story-2.png");
  height: 300px;
  display: flex;

}
.spin p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.research {
  background-image: url("../images/img-story-3.png");
  height: 300px;
}

.research p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.cats {
  background-image: url("../images/img-story-1.png");
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
.cats p {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.article {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
